<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/entriespg.css">
    <title>Patient Information</title>
    <script src="https://kit.fontawesome.com/f2e417b558.js" crossorigin="anonymous"></script>
      <!--Load the AJAX API-->
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});
        google.charts.load('current', {'packages':['line']});


        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawsChart);
        google.charts.setOnLoadCallback(makesChart);


        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawsChart() {

          // Create the data table.
          var moodData = new google.visualization.DataTable();
          moodData.addColumn('string', 'Moods');
          moodData.addColumn('number', 'Occurence');
          moodData.addRows([
            ['Very Happy', <%= veryHappyCount %> ],
            ['Happy', <%= happyCount %> ],
            ['Neutral', <%= neutralCount %> ],
            ['Sad', <%= sadCount %> ],
            ['Very Sad', <%= verySadCount %> ]
          ]);

          // Set chart options
                        var moodOptions = {
                          'legend':'left',
                          'title':'Mood Chart',
                          'is3D':true,
                          'width':500,
                          'height':600,
                         colors: ['#7161EF', '#957FEF', '#B79CED',
                                  '#DEC0F1', '#EFD9CE']
                       };

          // Instantiate and draw our chart, passing in some options.
          var moodChart = new google.visualization.PieChart(document.getElementById('moodChart_div'));
          moodChart.draw(moodData, moodOptions);

      };


        function makesChart() {
    var allPainData = google.visualization.arrayToDataTable([
      ['Different', 'Number of days'],
      ['Left Leg', <%= leftLegPainCount %> ],
      ['Right Leg', <%= rightLegPainCount %> ],
      ['Right Arm', <%= rightArmPainCount %> ],
      ['Left Arm', <%= leftArmPainCount %> ],
      ['Head', <%= headPainCount %> ],
      ['Shoulder', <%= shoulderPainCount %> ],
      ['Stomach', <%= stomachPainCount %> ],
      ['Hip', <%= hipPainCount %> ],
      ['Right Foot', <%= rightFootPainCount %> ],
      ['Left Foot', <%= leftFootPainCount %> ]
    ]);

    var painMoreOptions = {
      title: 'Location of Pain Since Journaling',
      'width':500,
      'height':600,
     colors: ['#957FEF','#7161EF', '#957FEF', '#B79CED',
              '#DEC0F1', '#EFD9CE'],
      legend: { position: 'bottom' }
    };

    var painChart = new google.visualization.BarChart(document.getElementById('patientPainChart_div'));

    painChart.draw(allPainData, painMoreOptions);
  }
      </script>
  </head>
  <body>

    <div class="moodBlocks">

          <h1> Symptom History</h1>
          <h2>Find specific date of log</h2>
          <form id="datePick">
            <input id="queryVal" type="hidden" name="query" value="<%= query %>">
            <p>
              <span class="input">
                <input id="logDate" class="logDate" type="date" name="logDate" placeholder="Date">
                <span></span>
              </span>
            </p>
            <button class="find" type="submit" name="submit" value="submit">Find</button>
         </form>
         <ul>
      <%
      let numbersToMood = ['Very Sad','Sad','Neutral','Happy','Very Happy']
      for(var i=0; i<patientInfo.length; i++) {
        const moodsDescription= numbersToMood[parseInt(patientInfo[i].mood) - 1]
        const dt = patientInfo[i].date


        %>


        <li class="message">
           <h3>Date:<span><%= moment(patientInfo[i].date).format('LLLL') %></span></h3>
           <h3>Mood: <span><%= moodsDescription %></span></h3>
          <h4>Reason for mood: <span><%= patientInfo[i].feelingsReasoning %></span></h4>
          <h4>In Pain: <span><%= patientInfo[i].painQuestionOption %></span></h4>
          <h4>Pain location: <span class="painLocation" contenteditable="true"><%= patientInfo[i].painLocation %></span></h4>
          <h4>Description of pain: <span><%= patientInfo[i].explainPain %></span></h4>
          <h4>Anything else: <span class="extraInfo" contenteditable="true"><%= patientInfo[i].extraInfo %></span></h4>
          <h4>Set appointment?: <span><%= patientInfo[i].appt %></span></h4>
          <form class="" action="/docNotes" method="post">
          <h2 class="notesPatients">Notes about Patient:</h2>
          <input type="hidden" value="<%= patientInfo[i]._id %>" name='pId'>
          <input type="hidden" value="<%= queryId %>" name='queryId'>
         <textarea class="question" class="doctorNotes" name="doctorNotes" rows="8" cols="80"><%= patientInfo[i].doctorNotes %></textarea>
         <input type="submit" name="submit" value="submit">

       </form>

         <span class="docNotes"><i class="far fa-edit"></i></span>
        </li>
      <% } %>
      </ul>
   </div>
   <div id="moodChart_div"></div>
   <div id="patientPainChart_div"></div>
   <a href="/logout">Log Out</a>
   <script type="text/javascript" src="/assets/js/app.js"></script>
  </body>
</html>
