<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <!--Load the AJAX API-->
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

          // Create the data table.
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Topping');
          data.addColumn('number', 'Slices');
          data.addRows([
            ['Very Happy', <%= veryHappyCount %> ],
            ['Happy', <%= happyCount %> ],
            ['Neutral', <%= neutralCount %> ],
            ['Sad', <%= sadCount %> ],
            ['Very Sad', <%= verySadCount %> ]
          ]);

          // Set chart options
          var options = {'title':'Mood Chart',
                         'width':400,
                         'height':300,
                        'colors': ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6']
                      };

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }
      </script>
    </head>
  <body>
    <h1>Mood History</h1>
    <div class="">
      <ul class="moodEntries">
      <%
      let numbersToMood = ['Very Sad','Sad','Neutral','Happy','Very Happy']
      for(var i=0; i<moodEntries.length; i++) {
        const moodDescription= numbersToMood[parseInt(moodEntries[i].mood) - 1]
        const d = moodEntries[i].date
    const formattedDate = d.getFullYear() + '/' + d.getMonth() + '/' + d.getDate() + '/' + d.getHours() + ':' + d.getMinutes()
        %>
        <li class="message">
           <h3>Date:<span><%= formattedDate %></span></h3>
           <h3>Mood:<span><%= moodDescription %></span></h3>
          <span><%= moodEntries[i].feelingsReasoning %></span>
          <span><%= moodEntries[i].painQuestionOption %></span>
          <span><%= moodEntries[i].painLocation %></span>
          <span><%= moodEntries[i].explainPain %></span>
          <span><%= moodEntries[i].extraInfo %></span>
          <span><%= moodEntries[i].appt %></span>


          <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
          <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>

        </li>
      <% } %>
      </ul>

    </div>


      <body>
        <!--Div that will hold the pie chart-->
        <div id="chart_div"></div>


  </body>
</html>
