<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/entriespg.css">
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <title>History of Entries</title>
    <script src="https://kit.fontawesome.com/f2e417b558.js" crossorigin="anonymous"></script>
      <!--Load the AJAX API-->
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

          // Create the data table.
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Moods');
          data.addColumn('number', 'Occurence');
          data.addRows([
            ['Very Happy', <%= veryHappyCount %> ],
            ['Happy', <%= happyCount %> ],
            ['Neutral', <%= neutralCount %> ],
            ['Sad', <%= sadCount %> ],
            ['Very Sad', <%= verySadCount %> ]
          ]);

          // Set chart options
                        var options = {
                          'legend':'left',
                          'title':'Mood Chart',
                          'is3D':true,
                          'width':500,
                          'height':600,
                         colors: ['#7161EF', '#957FEF', '#B79CED',
                                  '#DEC0F1', '#EFD9CE']
                       };

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }
      </script>
    </head>
  <body>
    <h1>Symptoms History</h1>
    <div class="moodBlocks">
      <ul class="moodEntries">
      <%
      let numbersToMood = ['Very Sad','Sad','Neutral','Happy','Very Happy']
      for(var i=0; i<moodEntries.length; i++) {
        const moodDescription= numbersToMood[parseInt(moodEntries[i].mood) - 1]
        const d = moodEntries[i].date
        console.log(d)
        console.log("moodEntry #" + i, moodEntries[i]);


        %>
        <li class="message">
           <h3>Date:<span><%= moodEntries[i].date %></span></h3>
           <h3>Mood: <span><%= moodDescription %></span></h3>
          <h4>Reason for mood: <span><%= moodEntries[i].feelingsReasoning %></span></h4>
          <h4>In Pain: <span><%= moodEntries[i].painQuestionOption %></span></h4>
          <h4>Pain location: <span class="painLocation" contenteditable="true"><%= moodEntries[i].painLocation %></span></h4>
          <h4>Description of pain: <span><%= moodEntries[i].explainPain %></span></h4>
          <h4>Anything else: <span class="extraInfo" contenteditable="true"><%= moodEntries[i].extraInfo %></span></h4>
          <h4>Set appointment?: <span><%= moodEntries[i].appt %></span></h4>


          <span id="demo"></span>
          <span class="update"><i class="far fa-edit"></i></span>
          <span class="delete"><i class="far fa-trash-alt"></i></span>

        </li>
      <% } %>
      </ul>

    </div>


      <body>
        <!--Div that will hold the pie chart-->
        <div id="chart_div"></div>
        <a href="/logout">Log Out</a>
        <script type="text/javascript" src="/assets/js/app.js"></script>
  </body>
</html>
